* {
    box-sizing: border-box;
}

body{
    background-color: rgb(20,20,20);
    color: aliceblue;
    font-family: courier;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2em;
}

p{
    margin:20px;
    color:aliceblue;
}

div.titleBar {
    position: fixed;
    top: 0;
    left:0;

    align-items: center;
    align-content: center;

    width: 100%;

    background-color: maroon;

    z-index: 100000;
}

div.content-box {
    background-color: rgb(40,40,40);
    color: aliceblue;
    font-family: courier;

    width: 90%;

    margin: 20px;
    padding: 20px;

    line-break: normal;
}

h1.title {
    color: white;
}

h2#page-title {
    font-weight: bold;
    text-decoration: underline;
}

div.navigation .navigation-list li a{
        color: black;
        font-weight: bold;
        font-size: 1.5em;
    }

@media (orientation: landscape) and (min-width: 800px) {

    body {
        margin-top: 5em;
    }

    div.titleBar {
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    div.titleBar .title {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    div.titleBar #navigation {
        order: 1;
        flex-shrink: 0;
    }

    /* Contenedor del botón */
    div.navigation {
        position: relative;
    }

    div.navigation .navigation-button {
        width: 3em;
        height: 3em;

        background-color: rgb(192, 141, 0);
        padding: 0.5em;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        float: none;
    }

    /* Línea separadora */
    div.navigation .navigation-separator {
        display: none;
    }

    /* Contenedor del menú */
    div.navigation .navigation-menu {
        position: absolute;
        top: calc(100% + 0.5em);
        left: 0;

        z-index: 1;
    }

    div.navigation .navigation-list {
        background-color: rgb(175, 128, 0);

        margin: 0;
        padding: 0.5em;

        width: max-content;

        line-break: anywhere;
        list-style-type: none;
    }

    div.navigation .navigation-list li{
        margin: 0.25em;
        padding: 0.25em;
    }
}

@media not all and (orientation: landscape) and (min-width: 800px) {
    body {
        margin-top: 9em;
    }

    div.titleBar {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0;
    }

    div.navigation {
        background-color: rgb(192, 141, 0);

        display: flex;
        flex-direction: column;
        align-items: stretch;

        text-align: center;

        width: 100%;

        position: absolute;
        left: 0;
    }

    div.navigation .navigation-separator {
        border-color: black;
        width: 100%;
        padding: 0;
        list-style-type: none;
    }

    div.navigation .navigation-list {
        width: 100%;
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    div.navigation .navigation-list li{
        background-color: rgb(175, 128, 0);
        width: 100%;
        margin: 0.25em;
        padding: 0;

        list-style-type: none;
    }

    div.navigation .navigation-button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 3em;
    }
}